body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    background-color: blueviolet;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
}

.logo a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.link {
    margin-right: 10px;
}

.link-btn {
    padding: 10px;
}

.link-btn:hover {
    color: rgb(32, 233, 109);
    transition: .5s;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.register-btn {
    justify-content: start;
}

.register-btn a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.register-btn button {
    padding: 7px 15px;
    background-color: rgb(43, 137, 226);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


/* top banner css */

.top-banner {
    display: flex;
    width: 80%;
    padding: 5%;
}


.half-width {
    width: 50%;
}

.description-area {
    width: 50%;
    padding: 10px;
    margin-left: 7%;
}

.description-area h1 {
    font-size: 40px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.description-area p {
    font-size: 18px;
    margin-bottom: 25px;


}

.description-area input {
    width: 150px;
    padding: 12px 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.164);
}

.half-width img {
    width: 100%;
}

.description-area .submit-btn {
    background-color: rgba(12, 98, 138, 0.829);
    padding: 12px 30px;
    border: none;
    color: white;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.extra-signin {
    font-size: 16px;
    color: rgba(128, 128, 128, 0.767);
}





.card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-evenly;

}

.card1 {
    width: 350px;
    height: 400px;
    box-shadow: 5px 10px 40px grey;
    margin-right: 10px;
    border-radius: 5px;
}

.profile {
    margin-left: 100px;
    margin-top: 30px;
    width: 120px;
    margin-bottom: 30px;
}

.social-link {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.social-btn {
    width: 40px;
    padding: 15px;
}

.developer {
    text-align: center;
    font-family: sans-serif;
    color: rgba(43, 34, 34, 0.795);
    font-size: 40px;
}